<h1>Home Page<i class="fa fa-home" aria-hidden="true"></i></h1>



<div>

	<div>
		<a href="/home/display/<%= @tv.id%>">TV</a>
		<i class="fa fa-television" aria-hidden="true"></i>

		<form action="/home/<%= @tv.id %>/comment" method="post">

			<input type="hidden" name="" value="">	

			<textarea id="test" name="comment" id="" cols="30" rows="3" placeholder="Insert Comment">		
			</textarea>


			  <div><input type="time" name="start_time" value="start">start time</div>
			  <div><input type="time" name="end_time" value="end">          end time</div>

			<div>
				<button>Booking</button>
			</div>		
		</form>

			<% @tv_comment.each do |comment| %>
			<hr>
			
				<p><%= comment.body %></p><p><%= comment.start %>:00 -  <%= comment.finish %>:00</p>
			
			<% end %>

	</div>

	

	<div>
		<a href="/home/display/<%= @meeting.id%>">Meeting Room</a>
		<i class="fa fa-line-chart" aria-hidden="true"></i>

		<form action="/home/<%= @meeting.id %>/comment" method="post">

			<input type="hidden" name="" value="">	

			<textarea id="test"  name="comment" id="" cols="30" rows="3" placeholder="Insert Comment">
			</textarea>

				<div><input type="time" name="start_time" value="start">start time</div>
			  	<div><input type="time" name="end_time" value="end"> end time</div>

			<div>
				<button>Booking</button>
			</div>		
		</form>

			<% @meeting_comment.each do |comment| %>
			<hr>
			
				<p><%= comment.body %></p><p><%= comment.start %>:00 -  <%= comment.finish %>:00</p>
			
			<% end %>
	</div>
	
</div>